<div class="contenido">
    <app-topbar></app-topbar>
    <h3 class="title">Nuestra misión</h3>
    <p class="texto"> 
        Algunas personas creen que para hacer crecer una empresa se debe ser despiadado,
        pero sabemos que hay una mejor alternativa; un método en el que el resultado final
        también es bueno para los clientes. Creemos que los negocios pueden crecer con conciencia,
        alcanzar el éxito con ética y que esto se puede lograr con el método inbound.
        Por eso, creamos una plataforma que combina el software, la educación y el sentido comunitario
         para ayudar a las empresas a crecer mejor todos los días.
    </p>
</div>
